.section {
  min-height: 95vh;
  max-width: 100vw;
  margin: auto;
  margin-bottom: 300px;
  text-align: center;
}
.container {
  margin: auto;
  text-align: center;
  display: inline-block;
}

.projectContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1200px;
  padding-top: 100px;
}

.project {
  margin: auto;
}

.projectDescription {
  max-width: 400px;
  /* padding-right: 100px; */
}

.projectImage {
  height: 300px;
  border: 1px solid #fff;
  position: relative;
}

.projectInfo {
  width: 550px;
  height: 00px;

  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0%;
  z-index: 1000;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.projectImage:hover .projectInfo {
  background-color: rgba(0, 0, 0, 0.7);
  height: 300px;
  opacity: 1;
  border: none;
  top: 0%;
}

.img {
  width: 550px;
  height: 300px;
}

@media (max-width: 1000px) {
  .projectDescription {
    max-width: 300px;
    /* padding-right: 100px; */
  }

  .img {
    width: 400px;
    height: 250px;
  }

  .projectImage {
    width: 400px;
    height: 250px;
  }
}

@media (max-width: 800px) {
  .projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    padding-top: 100px;
  }
  /* .projectDescription {
    max-width: 200px;
  }

  .img {
    width: 250px;
    height: 150px;
  }
  */

  .projectImage {
    margin: auto;
  }
}

@media (max-width: 650px) {
  .projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    padding-top: 100px;
  }
  /* .projectDescription {
    max-width: 200px;
  }

  */
  .img {
    width: 80vw;
    /* height: 100px; */
  }

  .projectImage {
    margin: auto;
    /* margin-right: 250px; */
    width: 80vw;
    /* height: 100px; */
  }
}

/* @media (max-width: 650px) {
  .projectDescription {
    max-width: 150px;
  }

  .img {
    width: 200px;
    height: 100px;
  }

  .projectImage {
    width: 200px;
    height: 100px;
  }
} */
