.section {
  overflow-x: hidden;
}

.container {
  /* margin: auto; */
  /* max-width: 1000px; */
  height: 100vh;
}

.introContainer {
  margin-left: 150px;
  padding-top: 214px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.demo {
  position: absolute;
  display: inline-block;
}

.hiThere {
  margin-right: 50px;
}

.name {
  background-image: url(../../assets/color.gif);
  background-size: cover;
  background-clip: text;
  background-position: 50%;
  position: relative;
}

.buttonContainer {
  position: fixed;
  left: 70vw;
  top: 3%;
  z-index: 100005;
}

@media (max-width: 800px) {
  .buttonContainer {
    left: 15vw;
  }

  .introContainer {
    margin-left: 100px;
    padding-top: 214px;
  }

  .buttonContainer {
    left: 12vw;
    top: 3%;
    margin-right: 10px;
  }
}

@media (max-width: 500px) {
  .buttonContainer {
    left: 4vw;
  }
}

@media (max-width: 450px) {
  .buttonContainer {
    left: 4vw;
  }
}
