.section {
  overflow-x: hidden;
}

.container {
  /* margin: auto; */
  /* max-width: 1000px; */
  height: 100vh;
}

.introContainer {
  margin-left: 150px;
  padding-top: 214px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.demo {
  position: absolute;
  display: inline-block;
}

.hiThere {
  margin-right: 50px;
}

.name {
  background-image: url(../../assets/color.gif);
  background-size: cover;
  background-clip: text;
  background-position: 50%;
  position: relative;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  /* position: fixed; */
  right: 90px;
  top: 4%;
  z-index: 100005;
  /* width: 100vw; */
}

/* .navGroup {
  width: 100vw;
} */

@media (max-width: 900px) {
  .buttonContainer {
    margin: auto;
  }
}

@media (max-width: 800px) {
  .introContainer {
    margin-left: 100px;
    padding-top: 214px;
  }

  .buttonContainer {
    right: 60px;
    top: 3%;
    margin-right: 10px;
  }
}

@media (max-width: 500px) {
  .buttonContainer {
    right: 20px;

    margin: auto;
  }
}

@media (max-width: 450px) {
  .buttonContainer {
    margin: auto;
    max-width: 400px;
  }
}

/* @media (max-width: 360px) {
  .buttonContainer {
    display: none;
  }
} */
