.container {
  display: flex;
  justify-content: center;
}

.aboutContainer {
  text-align: start;
  max-width: 650px;
}

.section {
  height: 95vh;
  max-width: 90vw;
  margin: auto;
  margin-bottom: 100px;
}


.typo2 {
  background-image: url(../../assets/color.gif);
  background-clip: text;
}

.skills {
  position: relative;
  bottom: 120px;
  right: 60vw;
  transition: all 0.2s;
}

.skillList {
  display: grid;
  grid-template-columns: 230px 230px;
  grid-template-rows: repeat(4, 80px);
}

.card {
  background-size: cover;
  background-clip: text;
  background-image: url(../../assets/color.gif);
  text-align: start;
}

@media (max-width: 1050px) {
  .aboutContainer {
    max-width: 500px;
  }
}

@media (max-width: 800px) {
  .aboutContainer {
    max-width: 400px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .skills {
    display: none;
  }
}
